{% extends 'base.html' %}
{% block content%}
<h1  id="info-heading">
    <i class="fa fa-info-circle"></i>About
</h1>
<p style="margin-left:10px;">
    This blog project is made and authorised for any user to be able to create ,  retrieve , update and delete any blog of their choice on this server.
    
    This project was proudly made by<span id="my-name" >samuel kalu</span>,  it's his 2nd django project😁
</p>

<div id="my-pic">
</div>
<br>
<p><u>Skill  set  comprises:</u></p>
<ul>
    <li>Python 🐍(Django/Flask)</li>
    <li>HTML5,CSS3,ES6😋</li>
</ul>

<p><b>Connect with me via:</b></p>
<div id="social">
    <a href="https://www.facebook.com/samuel.kalu.31508"  target="_blank" ><i class="fa fa-facebook"></i></a>
    <a href="mailto: kalusam619@gmail.com"  target="_blank"><i class="fa fa-google"></i></a>
</div>


{% endblock %}